.img-pokemon {
    background: #c7ffff2e;
    height: 50%;
}

.name-pokemon{

    text-transform: capitalize;

}

a{
    color: white !important;
    text-decoration: none !important;
}


.link-api{
    color:black !important;
}